# Emperical Probability of obtaining a Real Root

We aim to compute the empirical probability of finding a real root when all three coefficients $A$, $B$, and $C$ are sampled from $\mathcal{U}(0,\theta)$. Note that $\theta \in \mathbb{R}$ and $\theta > 0$. We vary the value of $\theta$ to see if the probability is generally same for all uniform distributions starting from $0$.

For a root to be real, we simply need to check if the value of the discriminant $D=B^2-4AC$ is non-negative.

In [1]:
import pandas as pd
import random
import statistics as stats

In [2]:
trials = 20_000

In [3]:
def get_random_value(theta):
    """
    The functtion we use to generate values for the coefficients.
    """
    return random.uniform(0, theta)

In [4]:
def get_data_row(theta):
    total_count = 0
    favourable_count = 0

    for _ in range(trials):
        b = get_random_value(theta)
        a = get_random_value(theta)
        c = get_random_value(theta)


        if b * b >= 4 * a * c:
            favourable_count += 1

    return [
        theta,
        favourable_count,
        float(favourable_count) / trials
    ]

## Small values of $\theta$

We obtain the probability of a real root for small values of $\theta$. Specifically, $\theta\in\{1, 2, \ldots, 20\}$.

In [5]:
data1 = [get_data_row(theta) for theta in range(1, 21)]

In [6]:
df1 = pd.DataFrame(data1, columns=[
    "Theta",
    "Favourable Outcomes",
    "Probability"
])
df1

    Theta  Favourable Outcomes  Probability
0       1                 5162      0.25810
1       2                 5043      0.25215
2       3                 5059      0.25295
3       4                 5141      0.25705
4       5                 5116      0.25580
5       6                 5082      0.25410
6       7                 5074      0.25370
7       8                 5150      0.25750
8       9                 5132      0.25660
9      10                 5117      0.25585
10     11                 5021      0.25105
11     12                 4949      0.24745
12     13                 5099      0.25495
13     14                 4972      0.24860
14     15                 5151      0.25755
15     16                 5056      0.25280
16     17                 5134      0.25670
17     18                 5031      0.25155
18     19                 5093      0.25465
19     20                 5066      0.25330

In [7]:
mu1 = stats.mean(df1["Probability"]) * 100
mu1

25.412000000000003

In [8]:
sigma1 = stats.stdev(df1["Probability"]) * 100
sigma1

0.29561443594121417

In [9]:
print("The empirical probability for small values of theta is %.2f%% with std-dev %0.2f%%." % (mu1, sigma1))

The empirical probability for small values of theta is 25.41% with std-dev 0.30%.

## Large values of $\theta$

We obtain the probability of a real root for small values of $\theta$. Specifically, $\theta\in\{1000, 1050, 1100, \ldots, 3000\}$.

In [10]:
data2 = [get_data_row(theta) for theta in range(1000, 3001, 50)]

In [11]:
df2 = pd.DataFrame(data2, columns=[
    "Theta",
    "Favourable Outcomes",
    "Probability"
])
df2

    Theta  Favourable Outcomes  Probability
0    1000                 5065      0.25325
1    1050                 5120      0.25600
2    1100                 5054      0.25270
3    1150                 5131      0.25655
4    1200                 5066      0.25330
5    1250                 5163      0.25815
6    1300                 5060      0.25300
7    1350                 5028      0.25140
8    1400                 5187      0.25935
9    1450                 4994      0.24970
10   1500                 5072      0.25360
11   1550                 5133      0.25665
12   1600                 5012      0.25060
13   1650                 5159      0.25795
14   1700                 5094      0.25470
15   1750                 5087      0.25435
16   1800                 5108      0.25540
17   1850                 5019      0.25095
18   1900                 5065      0.25325
19   1950                 4989      0.24945
20   2000                 4994      0.24970
21   2050                 5148      0.25740
22   2100                 5051      0.25255
23   2150                 5028      0.25140
24   2200                 5093      0.25465
25   2250                 5115      0.25575
26   2300                 4975      0.24875
27   2350                 5045      0.25225
28   2400                 5048      0.25240
29   2450                 5062      0.25310
30   2500                 5041      0.25205
31   2550                 5104      0.25520
32   2600                 5041      0.25205
33   2650                 5061      0.25305
34   2700                 5154      0.25770
35   2750                 5067      0.25335
36   2800                 5058      0.25290
37   2850                 5096      0.25480
38   2900                 5157      0.25785
39   2950                 4987      0.24935
40   3000                 4966      0.24830

In [12]:
mu2 = stats.mean(df2["Probability"]) * 100
mu2

25.35329268292683

In [13]:
sigma2 = stats.stdev(df2["Probability"]) * 100
sigma2

0.28067688218861575

In [14]:
print("The empirical probability for large values of theta is %.2f%% with std-dev %0.2f%%." % (mu2, sigma2))

The empirical probability for large values of theta is 25.35% with std-dev 0.28%.