In [18]:
import pandas as pd
import random
import statistics as stats

In [50]:
trials = 10_000

In [51]:
def get_random_value(theta):
    return random.uniform(0, theta)

In [52]:
def get_data_row(theta):
    total_count = 0
    favourable_count = 0

    for _ in range(trials):
        b = get_random_value(theta)
        a = get_random_value(theta)
        c = get_random_value(theta)


        if b * b >= 4 * a * c:
            favourable_count += 1

    return [
        theta,
        favourable_count,
        total_count,
        float(favourable_count) / trials
    ]

In [53]:
# Data for the initial values of theta
data1 = [get_data_row(theta) for theta in range(1, 21)]

In [54]:
df1 = pd.DataFrame(data1, columns=[
    "Theta",
    "Favourable Outcomes",
    "Total Outcomes",
    "Probability"
])
df1

    Theta  Favourable Outcomes  Total Outcomes  Probability
0       1                 2513               0       0.2513
1       2                 2585               0       0.2585
2       3                 2588               0       0.2588
3       4                 2515               0       0.2515
4       5                 2496               0       0.2496
5       6                 2518               0       0.2518
6       7                 2530               0       0.2530
7       8                 2455               0       0.2455
8       9                 2536               0       0.2536
9      10                 2521               0       0.2521
10     11                 2596               0       0.2596
11     12                 2547               0       0.2547
12     13                 2506               0       0.2506
13     14                 2565               0       0.2565
14     15                 2555               0       0.2555
15     16                 2561               0       0.2561
16     17                 2548               0       0.2548
17     18                 2559               0       0.2559
18     19                 2567               0       0.2567
19     20                 2542               0       0.2542

In [55]:
stats.mean(df1["Probability"])

0.254015

In [56]:
stats.stdev(df1["Probability"])

0.0034484588472319957

In [57]:
data2 = [get_data_row(theta) for theta in range(1000, 3001, 50)]

In [58]:
df2 = pd.DataFrame(data2, columns=[
    "Theta",
    "Favourable Outcomes",
    "Total Outcomes",
    "Probability"
])
df2

    Theta  Favourable Outcomes  Total Outcomes  Probability
0    1000                 2498               0       0.2498
1    1050                 2519               0       0.2519
2    1100                 2508               0       0.2508
3    1150                 2508               0       0.2508
4    1200                 2565               0       0.2565
5    1250                 2587               0       0.2587
6    1300                 2590               0       0.2590
7    1350                 2521               0       0.2521
8    1400                 2613               0       0.2613
9    1450                 2580               0       0.2580
10   1500                 2623               0       0.2623
11   1550                 2610               0       0.2610
12   1600                 2534               0       0.2534
13   1650                 2574               0       0.2574
14   1700                 2569               0       0.2569
15   1750                 2444               0       0.2444
16   1800                 2533               0       0.2533
17   1850                 2593               0       0.2593
18   1900                 2616               0       0.2616
19   1950                 2529               0       0.2529
20   2000                 2581               0       0.2581
21   2050                 2538               0       0.2538
22   2100                 2523               0       0.2523
23   2150                 2595               0       0.2595
24   2200                 2590               0       0.2590
25   2250                 2507               0       0.2507
26   2300                 2580               0       0.2580
27   2350                 2524               0       0.2524
28   2400                 2583               0       0.2583
29   2450                 2515               0       0.2515
30   2500                 2561               0       0.2561
31   2550                 2507               0       0.2507
32   2600                 2549               0       0.2549
33   2650                 2627               0       0.2627
34   2700                 2536               0       0.2536
35   2750                 2546               0       0.2546
36   2800                 2615               0       0.2615
37   2850                 2558               0       0.2558
38   2900                 2555               0       0.2555
39   2950                 2470               0       0.2470
40   3000                 2542               0       0.2542

In [59]:
stats.mean(df2["Probability"])

0.2554048780487805

In [60]:
stats.stdev(df2["Probability"])

0.004295518083974979